$primarycolor1: #5855E7;
$primarycolor2:red;
$primarycolor3:grey;
$primarycolor4: rgba(99, 71, 235, 1);
$primarycolor5:yellow;

$secondarycolor1:orange;

$tertiarycolor1:purple;

$fontcolor1:white;

$fontcolor2:black;

$backgroundcolor1:blue;

$backgroundcolor2:pink;

$backgroundcolor3:lightblue;

$backgroundcolor4:lightgreen;

$backgroundcolor5:lightyellow;

$backgroundcolor6:lightgrey;

$backgroundcolor7:lightcoral;

$backgroundcolor8:lightpink;

$backgroundcolor9:lightsalmon;

$backgroundcolor10:lightskyblue;

$backgroundcolor11:lightsteelblue;

$backgroundcolor12:lightyellowgreen;

$backgroundcolor13:lightyellow;

$backgroundcolor14:lightgoldenrod;

$backgroundcolor15:lightgray;

